body {
    background-color: black;
}

#h11 {
    color: azure;
    font-weight: bold;
}

h1 {
    color: rgb(27, 177, 27);
}

h2 {
    color: antiquewhite;
}

#gp_btn {
    padding: 10px;
    color: antiquewhite;
    background: rgb(27, 177, 27);
    border-radius: 10px;
    border: solid  rgb(27, 177, 27) 0.1;

}

#gn_btn,#gn2_btn {
    padding: 10px;
    color: antiquewhite;
    background: rgb(27, 177, 27);
    border-radius: 10px;
    border: solid  rgb(27, 177, 27) 0.1;

}

h3 {
    color: aqua;
    font-size: large;
}

.numberField {
    color: azure;
    width: 50px;
    border-radius: 10px;
}
#field {
    color: black;
    align-content: center;
    align-items: center;
    margin-left: 10px;
    padding-left: 15px;
    
}

/* The switch - the box around the slider */
/* Container for the toggle */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    color: azure;
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The track */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

/* The circular slider */
.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Toggled state */
.toggle-switch input:checked+.slider {
    background-color: #4caf50;
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(26px);
}